
.react-calendar {
    width: calc(100% - 24px);
    height: fit-content;
    background: white;
    border: 1px solid #a0a096;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    margin: 3%;
    transition: background-color 0.5s;

    padding: 6%;
}


.react-calendar--doubleView {
    width: 700px;
    transition: background-color 0.5s;

}

.react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
    transition: background-color 0.5s;

}

.react-calendar--doubleView .react-calendar__viewContainer>* {
    width: 50%;
    margin: 0.5em;
    transition: background-color 0.5s;

}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition: background-color 0.5s;

}

.react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
    transition: background-color 0.5s;

    height: 10vh;

}

.react-calendar button:enabled:hover {
    cursor: pointer;
    transition: background-color 0.5s;

}

.react-calendar__navigation {
    display: flex;
    height: 4vh;
    transition: background-color 0.5s;
    margin-bottom: .6em;
}


.react-calendar__navigation button {
    min-width: 44px;
    height: 6vh;
    transition: background-color 0.5s;
    display: block;
    background: none;
    border-radius: 12px;
    padding: 0.5em;
    margin: 0 0.5em;
}

.react-calendar__navigation button:disabled {
    cursor: not-allowed;
    transition: background-color 0.5s;
    background-color: #f0f0f0;
    display: block;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
    transition: all 0.5s;
    display: block;

}

.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font: inherit;
    font-size: 0.75em;
    font-weight: bold;
    display: block;
    margin: 2.4em 0 .4em;
    border: 1px solid #ccc;
    transition: background-color 0.5s;
    padding: 0.5em;
    margin: 1em;
    border-radius: 7px;
    
}

.react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
    transition: background-color 0.5s;    
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    transition: background-color 0.5s;
    padding: 0.5em;
    margin: 1em;
    align-items: center;
    justify-content: center;
    font: inherit;
    font-size: 0.75em;
    font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
    color: #d10000;
    transition: background-color 0.5s;
    padding: 0.5em;
    margin: 1em;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
    transition: background-color 0.5s;
    padding: 0.5em;
    margin: 1em;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
    
}

.react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
    font: Arial, Helvetica, sans-serif;
    margin: 2em;
    border: 12px solid black;
    border-radius: 7px;
}

.react-calendar__tile:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
}

.react-calendar__tile--now {
    background: #ffff76;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #ffffa9;
}

.react-calendar__tile--hasActive {
    background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
}

.react-calendar__tile--active {
    /* background: #006edc; */
    /* color: white; */
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background: #1087ff;
    color: white;
}

.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
}

.event-date {
    font-size: 1em;
    font-weight: bold;
    margin: 1em;
    padding: 0.5em;
    border-radius: 7px;
    transition: background-color 0.5s;
    background-color: #96e6e6;
}