.fc .fc-timegrid-slot {
    height: 40px;
}

.fc-scrollgrid-sync-inner {
    display: flex;
    font-weight: normal;
    padding-left: 5px;
    padding-bottom: 25px;
}

.fc-scroller::-webkit-scrollbar {
    display: none;
}

.fc-day-today {
    @apply bg-gradient-to-l from-cyan-100 to-cyan-300
}

.fc-day-sat,
.fc-day-sun {
    @apply bg-slate-200/80
}

.fc .fc-button-primary,
.fc-timeGridWeek-button {
    background-color: #f3f3f3 !important;
    color: black !important;
    border: none;
    text-transform: capitalize !important;
    font-weight: 600;
    margin: 0px 2px;
}

.react-calendar__navigation {
    display: flex;
    justify-content: center;
    padding: 0% 10%;
    text-align: center;
}

.react-calendar__navigation__arrow {
    font-size: 20px;
    font-weight: 800;
}

.react-calendar__month-view__weekdays {
    text-align: center;
}

.react-calendar__month-view__weekdays__weekday>abbr {
    text-decoration: none !important;
}

.react-calendar__navigation__label__labelText {
    font-weight: 700;
}

.react-calendar__tile--now {
    @apply border border-[1px] rounded-[7px] p-[2px] text-white border-black border-solid bg-slate-700 !important
}

.react-calendar__month-view__days {
    row-gap: 10px;
}

.react-calendar__month-view__days {
    margin-top: 2rem;
}

.react-calendar__month-view__weekdays {
    margin-top: 1rem;
}

.react-calendar__decade-view__years {
    margin-top: 2rem;
}

.react-calendar__tile .react-calendar__year-view__months__month {
    padding: 5rem;
}

.react-calendar__viewContainer {
    height: 250px;
}

.react-calendar__year-view {
    height: 250px;
}

.react-calendar__year-view__months {
    height: 250px;
}

.react-calendar__decade-view {
    height: 250px;
}

.react-calendar__decade-view__years {
    height: 250px;
}

.react-calendar__century-view__decades {
    height: 250px;
}


.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}   